<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="POC_2PC" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=POC_2PC;Data Source=xxxxxx;Pooling=false;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <compilation targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>

    <!-- 
    ***** WS-AT SOAP tracing options
    <diagnostics>
      <messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"
        maxMessagesToLog="1000" />
      <endToEndTracing propagateActivity="true" activityTracing="true"
        messageFlowTracing="true" />
    </diagnostics>
    -->
    
    <bindings>
      <!--
      Per Custom Bindings on MSDN, the following is the required order:

      -Transaction Flow
      -Reliable Session
      -Security
      -Composite Duplex
      -OneWay
      -Stream Security
      -Message Encoding
      -Transport
      Only the last two (Message Encoding and Transport) are required; the rest are optional.
      -->
      <customBinding>
        <binding name="CICS_WSAT_Binding">
          <transactionFlow transactionProtocol="WSAtomicTransactionOctober2004" allowWildcardAction="false" />
          <textMessageEncoding messageVersion="Soap12" writeEncoding="utf-8" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>


    <services>
      <service behaviorConfiguration="ServiceChangeBehavior" name="POC_2PC.SW2PC">
        <endpoint address="" binding="customBinding" bindingConfiguration="CICS_WSAT_Binding"
          contract="POC_2PC.ISW2PC" />
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceChangeBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>

  <!-- ENABLE THIS TO START TRACING WS MESSAGES AND DTC EXCHANGES -->
  <!--
  <system.diagnostics>
    <sources>
      <source name="System.Net">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add initializeData="network.log" type="System.Diagnostics.TextWriterTraceListener" name="SystemNet">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add initializeData="messages.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="MessageLogging">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add initializeData="tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.Transactions" switchValue="Information">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add initializeData="transactions.svclog" type="System.Diagnostics.XmlWriterTraceListener"  name="Transactions" traceOutputOptions="None">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="System.Net" value="Verbose" />
      <add name="Microsoft.Transactions.Bridge" value="4" />
      <add name="GatewayTracing" value="4" />
      <add name="Microsoft.Transactions.Wsat" value="4" />
    </switches>
    <trace autoflush="true">
      <listeners>
        <add initializeData="msdtc.trace.log" type="System.Diagnostics.TextWriterTraceListener"  name="MSTB Trace File">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics> -->

</configuration>